* {
    border: 0rem;
    margin: 0rem;
}

#profileDetail {
    background-color: aquamarine;
    display: inline-flex;
    position: relative;
    object-position: 50%;
}

#profileImage {
    width: 100px;
    height: 100px;
    object-fit: fill;
}